<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style type="text/css">
        p,
        li {
            white-space: pre-wrap;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ estilo }}">
</head>

<body>
    {% block topo %}{% endblock %}
    {% block body %}{% endblock %}
</body>

</html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">