
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    /*color: #131313;*/
    text-decoration: none;
}

body {
   font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: center;

}
#topo {
	width: 100%;
	height: 90px;
	position: relative;
	margin: 0 auto;
	border: none;
	text-align: center;
	
	
}
#topo img {
	float: left;
	margin: 10px 0 0 5px;
	border: none;
}
#topo p {
	margin: 0 5px 0 0;
	padding: 0;
	float: right;
	border: none;
	font-size: 12px ;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	line-height: 15px;
}
label.destaque {
	font-weight: bold;
	float: right;
	margin: 0;
	padding: 0;
	border: none;
}


table.TableRelat {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%
}

table.TableRelat caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

table.TableRelat thead {
  background: #40a286;
  color: white;
  text-align: left;
}

table.TableRelat th, td {
  padding: 5px 10px;
  text-align: left;
  font: 12px "Tahoma";
  }

  /* table.TableRelat td:nth-child(even) {background: #FFF} */
table.TableRelat tbody td {
  border-bottom: 1px solid #CCC
}



table.TableRelat tbody tr td:nth-child(2) {
  text-align:left;
}

table.TableRelat tbody tr td:nth-child(5) {
  font-weight: bold
}

table.TableRelat tfoot {
  background: #7AB32E;
  color: white;  
  text-transform: uppercase;
  border: none;
  }

table.TableRelat tfoot th {
  font: 11px "Tahoma";
  text-align: right

}

table.TableRelat tfoot tr th:last-child {
  font: 12px "Tahoma";
  text-align: center;
  font-weight: bold
}

#dadoscliente {
  width: 100%;
  height: 80px;
  padding: 5px 5px 10px 5px;
  font: 11px "Tahoma";
  }

#dadoscliente span {
  display: block;
  text-align: left;
  text-transform: uppercase
}
.status {
  width: 100%;
  height: 20px;
  text-align: left;
  margin: 0 5px;
  float: left;
 
  }
.status span {
  /* float: left; */
  font: 10px "Tahoma";
  text-transform: uppercase;
  /* width: 200px */
   margin: 0 12px 0 0 ;
  /* display: block */
  font-weight: bold
}
.status b {
  font: 10px "Tahoma";
  text-transform: uppercase;
  text-align: left
 
}
.box {
  width: 33%;
  height: auto;
  float: left;
  /* background: red */
}
.box span {
  display: block;
  text-align: left;

}

/* Tabela Financeiro */
table.financeiro {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%
}

table.financeiro caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
}

table.financeiro thead {
  background: #40a286;
  color: white;
  text-align: left;
}

table.financeiro th, td {
  padding: 5px 10px;
  text-align: left;
  font: 12px "Tahoma";
  }

  /* table.financeiro td:nth-child(even) {background: #FFF} */
table.financeiro tbody td {
  border-bottom: 1px solid #CCC
}



table.financeiro tbody tr td:nth-child(2) {
  text-align:left;
}


table.financeiro tfoot {
  background: #7AB32E;
  color: white;  
  text-transform: uppercase;
  }

table.financeiro tfoot th {
  font: 11px "Tahoma";
  text-align: right

}

table.financeiro tfoot tr th:last-child {
  font: 12px "Tahoma";
  text-align: center;
  font-weight: bold
}